<div class="row">
    <div class="col col-sm-10 col-md-8">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/servers']" routerLinkActive="router-link-active" >Servers</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/users']" routerLinkActive="router-link-active">Users</a></li>
        </ul>
    </div>
</div>
   
